<template name="selectCurriculum">
  <div class=" valign-wrapper row fullScreen ">
    <div class="valign col m6 offset-m3 l6 offset-l3 scrollBox">
      <form action="#">
        <div class="row">
          <h4> Please select a curriculum</h4>
        </div>

        <div class="row" >
          <div class="input-field">
            <div class="col l8 m8 s8 offset-s2 offset-l2 offset-m2">
              {{#each curriculums}}
              <p>
                <input id="{{title}}" class="with-gap" type="radio" name="curriculum" value="{{getId}}">
                <label for="{{title}}"> {{title}}</label>
                <a style='float:right' class='waves-effect waves-red right-align btn-flat delete-curriculum'><i class='mdi-navigation-cancel'></i></a>
              </p>
              {{/each}}
            </div>
          </div>
        </div>
        <br/>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col l2 m2 offset-m5 offset-l5">
      <a id="selectCurriculum" class="center-align btn" style="width:100%"> Select </a>
    </div>
  </div>

</template>
