<template name="lessonListItem">
<table id="{{_id}}">
<thead class="lesson" >
  <tr>
    <th data-field="id">{{title}}</th>
      <th data-field="name">
        <a style='float:right' class='waves-effect waves-blue right-align btn-flat add-module'><i class='mdi-content-add'></i></a>
      </th>
      <th data-field="price">
        <a style='float:right' class='waves-effect waves-red right-align btn-flat delete-lesson'><i class='mdi-navigation-cancel'></i></a>
      </th>
  </tr>
</thead>
  {{#each modulesInLesson}}
    {{>moduleListItem}}
  {{/each}}
</table>
</template>

<template name="moduleListItem">
<tr id="{{_id}}">
  <td>{{title}}{{question}}</td>
  <td>{{type}}</td>
    <td>
      <a style='float:right' class='waves-effect waves-red right-align btn-flat delete-module'><i class='mdi-navigation-cancel'></i></a>
    </td>
  </tr>
</template>
